<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.example.boot01helloworld.mapper.CityMapper">-->
<!--    &lt;!&ndash;    public Account getcity(Long id); &ndash;&gt;-->
<!--    <select id="getcity" resultType="com.example.boot01helloworld.bean.City">-->
<!--        select * from city where id=#{id}-->
<!--    </select>-->
<!--</mapper>-->